<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181304568429-75c9i2qkslvo5t7lbfj28ckkmht116ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181304568429-75c9i2qkslvo5t7lbfj28ckkmht116ud</string>
	<key>API_KEY</key>
	<string>AIzaSyD0Yev5UIx0bDqfpN_V-Bjwu7wn3tyr8wQ</string>
	<key>GCM_SENDER_ID</key>
	<string>181304568429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meetteam</string>
	<key>PROJECT_ID</key>
	<string>meeteam-647e8</string>
	<key>STORAGE_BUCKET</key>
	<string>meeteam-647e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181304568429:ios:bf73b91f4fce4e2508ed64</string>
</dict>
</plist>